@import "tailwindcss";

:root {
  --primaryBlue: #3AB5F6;
  --headerBackground: linear-gradient(180deg, #0E141F 44%, #1F2533 76%);
  --titles: #0E141F;
  --background: #CED4E0;
  --foreground: #0E141F;
  --lightNavy: #3F4865;
  --darkNavy: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #CED4E0;
    --foreground: #0E141F;
    --lightNavy: #3F4865;
    --darkNavy: #171717;
  }
}

body {
  background: var(--background);
  color: var(--darkNavy);
  font-family: Plus Jakarta Sans;
}

p {
  color: var(--foreground);
}

.card-text {
  color: var(--background);
}

